@model MPS.Entities.Category
@{
    ViewBag.Title = "Delete";
}

<h2>Are you sure You want to delele</h2>

<form method="post">

    <input type="hidden" name="ID" value="@Model.ID" />

    <br />

    <button type="submit">Yes Delete</button>

</form>

<a href="Index"> cancel</a>